@page "/product"
@using RestClient.Components.Products
<h3>Product Management</h3>
<MudButtonGroup Class="mb-2">
    <MudIconButton Icon="@Icons.Material.Rounded.Add" Color="Color.Primary" />
    <MudIconButton Icon="@Icons.Material.Rounded.Edit" Color="Color.Warning"/>
    <MudIconButton Icon="@Icons.Material.Rounded.Delete" Color="Color.Error"/>
</MudButtonGroup>
<List />

@code {

}
