@page "/product"
@using RestClient.Components.Products
<h3>Product Management</h3>
<MudButtonGroup>
    <MudIconButton Icon="@Icons.Material.Rounded.Add" Color="Color.Success" />
    <MudIconButton Icon="@Icons.Material.Rounded.Edit" Color="Color.Info"/>
    <MudIconButton Icon="@Icons.Material.Rounded.Delete" Color="Color.Error"/>
</MudButtonGroup>
<List />

@code {

}
