<MudAppBar Elevation="3">
    <MudIconButton Icon="@Icons.Material.Filled.Menu"
                   Color="Color.Inherit"
                   Edge="Edge.Start"
                   OnClick="ToggleSidebar" />
    Catalog Application
    <MudDrawer />
    <span class="appBar"></span>
    <MudIconButton Icon="@ThemeIcon()"
                   Color="Color.Inherit"
                    OnClick="ToggleTheme"/>

</MudAppBar>